pyportfolioopt # это библиотека Python для оптимизации портфеля, которая реализует различные методы построения оптимизированных портфелей с помощью кода.
fastapi #Веб-фреймворк для создания API на Python
celery # Фреймворк для асинхронной распределённой обработки задач  ( для разгрузки тяжёлых или долго выполняемых задач)
redis
pika # Официальная клиентская библиотека для работы с RabbitMQ (брокер сообщений) на Python. Она реализует протокол AMQP 0-9-1
prophet #  это библиотека с открытым исходным кодом для прогнозирования временных рядов, разработанная компанией Facebook
python-dotenv